In [1]:
import pandas as pd
import numpy as np
from nltk.sentiment import SentimentAnalyzer
from nltk.sentiment.util import *
from textblob import TextBlob 

from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
data1 = pd.read_csv("ptrain.csv")
data2 = pd.read_csv("ptest.csv")
data1 = data1[["question1", "question2"]]
data2 = data2[["question1", "question2"]]
data = pd.concat([data1, data2])

In [3]:
data.dropna(axis=0, inplace=True)
data.shape

(601753, 2)

In [4]:
questions = np.concatenate([data["question1"].values, data["question2"].values])
questions

array(['step step guide invest share market india',
       'story kohinoor koh-i-noor diamond',
       'increase speed internet connection vpn', ...,
       'cost use iphone europe',
       "'doctrine lapse implemented east india company",
       'sit iron throne end'], dtype=object)

In [5]:
def sentiment(text):
    analysis = TextBlob(text) 
    # set sentiment 
    if analysis.sentiment.polarity > 0: 
        return 'positive'
    elif analysis.sentiment.polarity == 0: 
        return 'neutral'
    else: 
        return 'negative'

In [6]:
sentiment_res = []
for ques in questions:
    #print(ques)
    sentiment_res.append(sentiment(ques))
    
result = pd.DataFrame({'questions': questions, 'sentiment': sentiment_res},\
                           columns=['questions', 'sentiment'])

In [7]:
result.head()

                                           questions sentiment
0          step step guide invest share market india   neutral
1                  story kohinoor koh-i-noor diamond   neutral
2             increase speed internet connection vpn   neutral
3                              mentally lonely solve  negative
4  dissolve water quikly sugar salt methane carbo...   neutral

In [10]:
result.groupby(["sentiment"]).agg("count")

           questions
sentiment
negative      125879
neutral       704664
positive      372963